[Unit]
Description=Open Vulnerability Assessment System Scanner Daemon
Documentation=http://www.openvas.org/
Requires=redis.service
After=redis.service

[Service]
ExecStart=/usr/bin/openvassd -f

[Install]
WantedBy=multi-user.target
